@page "/login"
@rendermode InteractiveServer
<PageTitle>Iniciar sesión</PageTitle>
<div class="row">
    <div class="col-sm-4">&nbsp;</div>
    <div class="col-sm-4">
        <h3 class="mt-4 mb-4" style="color:darkolivegreen;font-weight:bold">Iniciar sesión</h3>
        <EditForm Model="Usuario" FormName="Login" OnSubmit="IniciarSesion">
            <DataAnnotationsValidator />
            <label class="form-label">Email</label><br />
            <InputText @bind-Value="Usuario.Email" class="form-control"></InputText>
            <ValidationMessage style="z-index:auto !important" For="()=> Usuario.Email" />
            <br />
            <ValidationMessage For="()=> Usuario.Email" />
            <label class="form-label">Contraseña</label><br />
            <InputText type="password" @bind-Value="Usuario.Contraseña" class="form-control"></InputText><br />
            <button type="submit" class="btn btn-submit" style="background-color:darkolivegreen;color:white">Iniciar sesión</button>
        </EditForm>
        <p class="mt-4 mb-4">¿Todavía no tienes cuenta? <a href="registro" style="color:darkgreen;font-weight:bold;text-decoration:none">Registro</a></p>
        @if (SesionIncorrecta)
        {
            <div class="alert alert-danger mb-4">Usuario o contraseña incorrectos</div>
        }
    </div>
    <div class="col-sm-4">&nbsp;</div>
</div>