<footer class="mt-4" style="background-color:darkolivegreen;text-align:center">
    <div class="row">
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="#" class="textosFooter">Recetas de desayuno</a></li>
                <li><a href="#" class="textosFooter">Recetas de comida</a></li>
                <li><a href="#" class="textosFooter">Recetas de cena</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="#" class="textosFooter">Recetas fáciles</a></li>
                <li><a href="#" class="textosFooter">Recetas normales</a></li>
                <li><a href="#" class="textosFooter">Recetas difíciles</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="#" class="textosFooter">Postres</a></li>
                <li><a href="#" class="textosFooter">Ideas de Merienda</a></li>
                <li><a href="#" class="textosFooter">Ideas de picoteo</a></li>
            </ul>
        </div>
        <div class="col-sm">&nbsp;</div>
    </div>
</footer>