<footer class="mt-4" style="background-color:darkolivegreen;text-align:center;min-height:15vh">
    <div class="row">
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="/categorias/1" class="textosFooter">Recetas de desayuno</a></li>
                <li><a href="/categorias/2" class="textosFooter">Recetas de comida</a></li>
                <li><a href="/categorias/3" class="textosFooter">Recetas de cena</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="/dificultad/1" class="textosFooter">Recetas fáciles</a></li>
                <li><a href="/dificultad/2" class="textosFooter">Recetas normales</a></li>
                <li><a href="/dificultad/3" class="textosFooter">Recetas difíciles</a></li>
            </ul>
        </div>
        <div class="col-sm-4 mt-3">
            <ul style="list-style:none">
                <li><a href="/categorias/4" class="textosFooter">Ideas de Merienda</a></li>
                <li><a href="/categorias/5" class="textosFooter">Ideas de picoteo</a></li>
                <li><a href="/categorias/6" class="textosFooter">Postres</a></li>
            </ul>
        </div>
    </div>
</footer>