<nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkolivegreen;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color:white">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                        Recetas por categoría
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/categorias/1">Desayuno</a></li>
                        <li><a class="dropdown-item" href="/categorias/2">Comida</a></li>
                        <li><a class="dropdown-item" href="/categorias/4">Merienda</a></li>
                        <li><a class="dropdown-item" href="/categorias/3">Cena</a></li>
                        <li><a class="dropdown-item" href="/categorias/6">Postres</a></li>
                        <li><a class="dropdown-item" href="/categorias/5">Picoteo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                        Recetas por dificultad
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/dificultad/1">Fácil</a></li>
                        <li><a class="dropdown-item" href="/dificultad/2">Normal</a></li>
                        <li><a class="dropdown-item" href="/dificultad/3">Difícil</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex justify-content-end">
                <a href="/login" style="float:right !important"><button class="btn btn-success" type="button">Iniciar sesión</button></a>
            </div>
        </div>
    </div>
</nav>