
.vs/ProjectEvaluation/pruebasapiblazor.metadata.v9.bin
.vs/ProjectEvaluation/pruebasapiblazor.projects.v9.bin
.vs/ProjectEvaluation/pruebasapiblazor.strings.v9.bin
.vs/PruebasAPIBlazor/config/applicationhost.config
.vs/PruebasAPIBlazor/DesignTimeBuild/.dtbcache.v2
.vs/PruebasAPIBlazor/FileContentIndex/2794ff66-9365-42c3-a314-1a601f4cd99a.vsidx
.vs/PruebasAPIBlazor/FileContentIndex/6404a6d0-4d85-4b90-bef6-d3c45fcef486.vsidx
.vs/PruebasAPIBlazor/FileContentIndex/766aa161-cc9b-4658-9b86-db2a7a9cbcdf.vsidx
.vs/PruebasAPIBlazor/FileContentIndex/d6012558-c2b5-4922-bf93-8e140d072842.vsidx
.vs/PruebasAPIBlazor/FileContentIndex/f0382c09-d3d4-4fa0-a87d-1c53fcac3913.vsidx
.vs/PruebasAPIBlazor/v17/.futdcache.v2
.vs/PruebasAPIBlazor/v17/.suo
.vs/PruebasAPIBlazor/v17/DocumentLayout.backup.json
.vs/PruebasAPIBlazor/v17/DocumentLayout.json
.vs/PruebasAPIBlazor/v17/fileList.bin
.vs/PruebasAPIBlazor/FileContentIndex/01906f15-0565-418f-979d-8049ae35d069.vsidx
